/* KKI-授業予定表のスタイル定義 */

.class_plans{
  width: 100%;
  height: 1500px;
  border-radius: 10px;
  box-shadow: 0 2px 12px #3979b81a;
  border: 1.5px solid #b3d0ea;
  margin-top: 18px;
  margin-bottom: 24px;
  animation: fadein 1.5s;
}
