
main {
  margin-top: 40px;
  padding: 0 2vw;
  font-size: 1.08em;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  padding: 0 20px;
  font-size: 15px;
}

#comment {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 16px;
  transition: color 0.3s;
}